@using FamsEcommerce.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        background-color: #f8f9fa;
    }

    .login-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-container {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
    }

    .login-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn-login {
        width: 100%;
        background-color: #343a40;
        border-color: #343a40;
    }

        .btn-login:hover {
            background-color: #23272b;
            border-color: #23272b;
        }

    .form-check-label {
        margin-left: 5px;
    }
</style>

<main class="login-page">
    <div class="login-container">
        <h2 class="login-title">@ViewBag.Title</h2>
        <section class="login-form">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-check">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                    @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-dark btn-login" />
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
            }
        </section>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
